:root {
    --headerH: 70px;
    --footerH: 54px;
    --vertiacalH: calc(var(--headerH) + var(--footerH));
    --vertiacalSpaceH:  calc(100vh - var(--vertiacalH));
}

/* layout */
header {
    top:0;
    position: fixed;
    width: 100%;
    height: var(--headerH);
    z-index: 50;
}
#middle-contanier {
    position: relative;
    margin-top: var(--headerH);
    height: var(--vertiacalSpaceH);
    z-index: 30;
}
main  {
    position: absolute;
    left:0%;
    top:0;
    right:0;
    bottom: 0;
    overflow: auto;

    transition: left 800ms ease-in-out;
}
aside {
    position: absolute;
    top:0;
    left: -320px;
    bottom: 0px;
    width: 320px;
    overflow: auto;
    z-index: 10;

    transition: left 800ms ease-in-out;
}
.asideOpened aside {
    left: 0%;
}
.asideOpened main {
    left:0px;
}
footer {
    position: relative;
    z-index: 10;
}
hr.sidebar-divider {
    border-top: 1px solid rgba(255,255,255,.15);
    margin: 0 1rem 1rem;
}
@media (min-width: 576px) {
    .asideOpened main {
        left: 320px;
    }
}

/* endlayout */

/* bootstrap extension*/ 
body .bg-dark.navbar-dark .navbar-nav .nav-link:hover {
    color: #18bc9c !important;
}
/* end bootstrap extension*/
